@font-face {
  font-family: 'NeuMachina';
  src: url('/src/assets/Font/PPNeueMachina-PlainRegular.otf') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: rgba(220, 220, 220, 1);
  font-family: 'NeuMachina';
}

